---
layout: default
---

<div class="jumbotron" style="background-image: url({{ page.image }}), url('/assets/images/default_post_background.jpg'); background-size: cover;">
  <h1 class="col-md-5 mx-auto mb-5 d-flex justify-content-center text-light">{{ page.title }}</h1>
  <p class="col-md-4 lead text-light">{{ page.description }}</p>
  <p class="col-md-4 lead text-light">{{ page.date | date: "%Y-%m-%d %H:%M" }}</p>
  <p class="col-md-4 lead text-light">{{ page.author }}</p>
</div>
<article class="container">
  {{ content }}
</article>

